 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&display=swap');


:root {
    --primary: #2965c0;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #F2F2F2;
    --secondry: #070606;
}


html{
   scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

header {
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20210818/pngtree-gradient-blue-abstract-motion-blur-background-image_763332.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
    height: 100vh;
    background-size: cover;
    width: 100%;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto; 
}

@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media(min-width:768px){
    .container{
        max-width: 720px;
    }
}

@media(min-width:992px){
    .container{
        max-width: 968px;
    }
}

@media(min-width:1200px){
    .container{
        max-width: 1152px;
    }
}

header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 3rem;
}
header nav .branding h2{
    color: whitesmoke;
}

.hero {
    padding: 12rem 0;
}

.hero .left img {
    width: 300px;
    height: 70vh;
    margin-top: -9rem;
}

.hero .ryt {
    color: var(--pure);
    font-family: 'open Sans', sans-serif;
    margin-left: 8rem;
}

.hero .ryt h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .ryt h1 {
    font-weight: 100;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .ryt h1 span {
    color: var(--primary);
}

.hero .ryt p {
    line-height: 1.9rem;
    margin-bottom: 2rem;
}

.hero .ryt {
    margin-top: -7rem;
}

section {
    padding: 6rem 0;
}

section.about .about-me-img {
    margin-left: 11rem;
}

section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

section.about p {
    font-family: 'Lato', sans-serif;
    color: var(--dark);
    line-height: 1.9;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
}

section.about .flex1 p:hover{
    background: var(--light);
}

section.about .social a {
    width: 50px;
    height: 50px;
}

section.about .social a img {
    padding: 0.5rem;
    height: 50px;
    width: 50px;
}

section.about .social a img:hover {
    transition: all .3s ease;
}

.section-heading {
    color: var(--secondry);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span {
    color: var(--primary);
}

.section-heading+p {
    color: var(--ternary);
    font-family: "lato", sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}
section.skills {
     background: linear-gradient(rgba(0, 0, 0, 0.714),rgba(0, 0, 0, 0.385)); 
}

section.skills .container p{
    font-size: 30px;
}

section.skills .container h1{
    font-size: 40px;
}
section.skills .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    padding-top: 6rem;
    text-align: center;
}

section.skills .card-wrapper .card {
    
    padding: 3rem 2rem;
    position: relative;
    margin: 2rem;
    margin-top: 1rem;
}

section.skills .card-wrapper .card img {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%)
}

section.skills .card-wrapper .card h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--dark);
}

section.skills .card-wrapper .card p {
    font-family: "lato", sans-serif;
    line-height: 1.6;
    transition: all .3s ease;
}

section.skills .card-wrapper .card:hover {
    background-color: var(--pure);
}

section.education {
 text-align: center;
 background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(https://www.bu.edu/files/2021/04/Looking-for-a-place-to-study-for-finals-These-spots-are-perfect.-copy.jpg);
 color: var(--pure);
 clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 90%, 0 100%);
 padding-bottom: 14rem;
 background-size: cover;
}

section.education h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

section.education p{
    margin-bottom: 2rem;
    font-family: "lato",sans-serif;
}

section div.box{
    margin-top: 3rem;

}
section.box div.boxes img{
    background:linear-gradient(rgba(0,0,0,0.7) ,rgba(0,0,0,0.7)),url(https://images.hindustantimes.com/rf/image_size_640x362/HT/p2/2015/12/01/Pictures/_c34102da-9849-11e5-b4f4-1b7a09ed2cea.jpg);
}
section div.box span{
    color: var(--primary);
}

section.education .box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}


section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}

section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 6rem;
}

section.reviews .slider .slide p{
    font-family: "lato" , sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}

section.reviews .slider .slide span{
    font-size: 0.8rem;
}

section.reviews .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}

section.reviews .slider-dots{
    margin-top:-80rem;
}

section.reviews .slider-dots button{
    font-size: 0;
    width: 10px;
    height: 6px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}

section.reviews .dots li.slike-active button{
  background: var(--primary);
  width: 20px;
}

section.work .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

section.work .card-wrapper .card{
    position: relative;
    height: 250px;
}

section.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 106, 211, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* color: var(--light); */
    opacity: 0;
    transition: all .3s ease;
}

section.work .card-wrapper .card:hover .overlay{
    opacity: 1;
}

section.work .card-wrapper .card .overlay a{
    color: var(--secondry);
    text-decoration: none;
}

/* * {box-sizing:border-box} */


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


section.contact{
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20210818/pngtree-gradient-blue-abstract-motion-blur-background-image_763332.jpg);
    background-size: cover;
    font-family: 'open sans' , sans-serif;
    
}
section.contact h1{
    font-size: 3rem;
}
section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    margin-left: -6rem;
}

section.contact .card-wrapper .card{
    text-align: center;
    margin: 5rem;
    margin-left: 10rem;
}

section.contact .card-wrapper .card img{
    margin-bottom: 2rem;
    margin-top: 5rem;
}

section.contact .card-wrapper .card h2{
    font-weight: 300;
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h5{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    text-align:center
}

section.contact .input-wrap{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 3rem;
margin-bottom: 2rem;
}

section.contact .input-wrap2{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light);
}

section.contact input{
    padding: 1rem 1rem;
    border: 1px solid var(--light);
    font-family: 'Open Sans', sans-serif;
}

section.contact .input-wrap2 textarea{
    padding: 1rem;
    border: 1px solid var(--light);
    font-family: 'open sans', sans-serif;
}
section.contact .input-wrap2 textarea:focus{
    background: rgba(0, 110, 255, 0.311) ;
    font-family: 'open sans', sans-serif ;
}

section.contact input:focus{
    background: rgba(0, 110, 255, 0.311) ;
    font-family: 'Open Sans', sans-serif;
}

 section.contact .btn-wraper{
     text-align: center;
    margin-top: 2rem; 
    background: rgba(255, 182, 193, 0);
} 





footer{
    background: var(--dark) ;
    text-align: center;
    padding: 5rem 0;
}

footer img{
    margin-top: 2rem;
    margin: 1rem;
    border-radius: 5%;
}
footer div {
    margin-top: 2rem;
    color: var(--ternary);
}

footer div.foot-social img:hover{
    background: white
}





@media(max-width:1016px){
    header #main-nav{
        display: none;
    }
}

.site-main-wrapper{
    position: relative;
}

.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}


.hamberger i{
    width: 30px;
    color: white;
    height: 1rem;
    margin-top: -7rem;
    margin-right: -2rem;
}


.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background:rgb(99, 155, 212);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.Open{
    transform:translateX(0);
}
.times{
    position:fixed;
    right: 30px;
    top: 30px;
    background: none;
    border: none;
    outline: none;
    cursor:  pointer; 
}

.times i{
    width: 30px;
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul li a{
    color: var(--secondry) ;
    text-decoration:none;
    font-size: 2rem;
}


@media(max-width:1024px){
    header #main-nav{
    display: none;
    overflow: hidden;
    }
 .hero.left img{
    width: 360px;
   }
 .hero .ryt h1{
    font-size: 2rem;
 }
 .hero{
    padding-top: 12rem ;
 }
 header{
    clip-path: (0 0,100% 0, 100% 100% ,30% 90%,0 0 100%);
 }
 section.about .about-me-img{
    height: 530px;
    margin-left: 0.3rem;
 }
 section.about h3{
    height: 20px;
    width: 200px;
 }
 section.skills .card-wrapper{
    grid-template-columns:repeat(2, 1fr) ;
} 
section.education .card-wrapper.size{
    width: 700px;
    margin: 3rem;
}
section.work .card-wrapper img{
    width: 100%;
}
section.contact .card-wrapper .card{
    margin-left:4rem;
}
section.contact .card-wrapper .card h2 , h5{
    color: white;
    margin-right:-5rem ;
}
section.contact .card-wrapper .card img{
    margin-left: 5rem;
}
} 

@media(max-width:576px){
    body .hamberger{
        margin-top: -2rem;
    }
 .hero{
    flex-direction: column;
 }
 header{
    clip-path: none;
    height: 1100px;
 }

 .hero .left img{
    height: 460px;
 }

 .hero .ryt{
    color:black;
    background: linear-gradient(rgba(0,0,0,0)rgba(0,0,0,0)) ;
    position: absolute;
    top: 530px;
    margin-left: -0rem;
    padding: 0 2rem;
    font-weight: 1rem;
    margin-top: 1rem;
    font-weight: 0.5rem;
 }

 section.about{
    height: 1430px;
 }
 section.about .about-inner-wrap{
    flex-direction: column;
 }

 .about .ryt{
    text-align: center;
    padding: 0 1rem;

 }
 section.about .ryt h3{
  margin-left: 3rem;
 }

 section.skills .card-wrapper{
    grid-template-columns: repeat(1,1fr);
 }

 section.education{
    clip-path :polygon(0 0, 100% 0, 100% 100%, 74% 96%, 0 100%);
    padding-bottom: 8rem;
 }
 section.education h1{
    line-height: 1.2;
 }

 section.education .box {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 3rem;
}

section.work{
    padding-top: 2rem;
}
section.work .card-wrapper {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1rem;
}
section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1rem;
    margin-left: 0.6rem;
}
section.contact .card-wrapper .card img {
    text-align: center;
    margin: 5rem;
    margin-left: 10rem;
    margin: 1rem;
}
section.contact .card-wrapper .card{
    margin: 0.1rem;
}
section.contact .card-wrapper .card h2, h5 {
    color: white;
    margin-right: -0.1rem;
    margin: 0.3rem;
}

section.contact .card-wrapper .card h5{
    margin: 0.7rem;
}

section.contact .input-wrap {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 3rem;
    margin-bottom: 2rem;
}
}